tml,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #CCBA91; font-size: 16px; color: #232425;}

.clear {clear: both;}

.pageheader {
	width: 90%;
	max-width: 850px;
	background: #CCBA91;
	margin: 30px auto;
}

.photome {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

.photome img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.titles {
	float: left;
}

.contactdetails {
	float: right;
}

.contactdetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

.contactdetails ul li {
	margin-bottom: 3px;
	color: #232425;
}

.contactdetails ul li a, a[href^=tel] {
	color: #232425;
	text-decoration: none;
}

.contactdetails ul li a:hover {
	color: #ECF2F7;
}

section {
	border-top: 2px solid #232425;
	padding: 20px 0 0;
}

.mainbody {
	background: #CCBA91;
}

.subtitle {
	color: #232425;
	float: left;
	width: 20%;
}

.subcontent {
	float: right;
	width: 75%;
}

.subcontent img {
	border: 2px solid #232425;
}

p {
	margin-bottom: 20px;
	color: #232425;
}

body {
	width: 90%;
	max-width: 850px;
	background: #CCBA91;
	margin: 30px auto;
}
