tml,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body {background: #0B132B; font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; color: #50AAA9;}

.pageheader {
	width: 90%;
	max-width: 1200px;
	background: #1C2541;
	margin: 30px auto;
}

.photome {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

.photome img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.titles {
	float: left;
}

.contactDetails {
	float: right;
}

.contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

.contactDetails ul li {
	margin-bottom: 3px;
	color: #232425;
}

.contactDetails ul li a, a[href^=tel] {
	color: #232425;
	text-decoration: none;
}

.contactDetails ul li a:hover {
	color: #CCBA91;
}

.mainbody {
	padding: 0 20px;
}

.subtitle {
	float: left;
	width: 15%;
}

.subtitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #232425;
}

.subcontent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subcontent h3 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: -2px;
}

.subcontent img {
	border: 2px solid #232425;
}
