.pageheader {
	padding: 25px 35px;
	border-bottom: 2px solid #232425;
	background: #CCBA91;

#photome {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#photome img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#titles {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #232425;
}

#contactDetails ul li a, a[href^=tel] {
	color: #232425;
	text-decoration: none;
}

#contactDetails ul li a:hover {
	color: #CCBA91;
}

#mainbody {
	padding: 0 20px;
}

.subtitle {
	float: left;
	width: 15%;
}

.subtitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #232425;
}

.subcontent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.subcontent h3 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: -2px;
}

.subcontent img {
	border: 2px solid #232425;
}
